<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>

<nz-table>
  <thead>
    <tr>
      <th>Title</th>

      <th>Action</th>
    </tr>

  </thead>
  <tbody>

    <tr>
      <td>Prem </td>
      <td>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary">Delete</button>
      </td>
    </tr>
    <tr *ngFor="let todo of todos">
      <app-todo-item [todo]="todo" (deleteTodo)="deleteTodo($event)"></app-todo-item>
    </tr>

    <!-- <button (click)="onDelete(todo)" nz-button nzType="primary">Delete</button> -->

  </tbody>
</nz-table>

<!-- <nz-table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>chandra</td>
      <td>22</td>
      <td>madhavaram</td>
      <td>
        <a>Action 一 chandra</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table> -->